body {
    background: #f4f2f2;
    color: #313131;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

div,
p,
a,
img,
form,
button {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.header {}

.container {
    width: 1145px;
    margin: 0 auto;

}

.nav {
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
}

.menu {
    display: flex;
    margin-left: 160px;

}

.menu li {
    font-size: 12px;
    margin-right: 25px;
}

.menu li a {
    color: #9E9E9E;
    padding: 12px 0;

}

.menu li.active a,
.menu li a:hover {
    color: #313131;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
}

.logo {}

.phone {
    font-size: 12px;
    margin-left: auto;
    transition: all 0.5s ease;
}

.phone:hover {
    font-size: 20px;
}

/* offer */
.offer {
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
}

.offer__content h1 {
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}

.offer__content p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 19px;
}

.offer__content a {

    color: #313131;
    font-weight: 300;
    font-size: 25px;
    width: 290px;
    display: block;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #313131;
    transition: all 0.5s ease;
    margin-top: 35px;
}

.offer__content a:hover {

    background: #313131;
    color: #f4f2f2;
}

.offer__gallery {
    background: url('../img/2.jpg') no-repeat center center;
    width: 618px;
    height: 349px;
    margin-left: auto;
}